<html>
    <head>
        <%= title %>

    </head>
    <body>
        <header>
            Page Header
        </header>
        <h1> Codeial / <%= title %></h1>

        <footer>
            Page Footer
        </footer>
    </body>
</html>