<html>
    <head>
        <%= title %>

    </head>
    <body>
        <%- include('_header'); %>
        <h1> Codeial / <%= title %></h1>
        <%- include('_footer'); %>

        
    </body>
</html>