<html>
    <head>
        <title>
            <%= title %>
        </title>
    </head>
    <body>
        <header>
            Page Header
        </header>
        <h1>
            Codeial / Profile Page
        </h1>
        <footer>
            Page footer
        </footer>

    </body>
</html>